.card {
    background-color: #8794ad;
}

.card img {
    width: 32px;
    height: 32px;
    border: 2px solid rgb(80, 80, 80);
    border-radius: 15%;
    margin: 8px;
}

.gold {
    color: #ddb100;
}

.silver {
    color: #e6e6e6;
}

.copper {
    color: #c8602c;
}

a, a:hover {
    text-decoration: none;
}

.q1, .q1:hover {
    color: #fff;
}

.q2, .q2:hover {
    color: #1eff00;
}

.q3, .q3:hover {
    color: #0070dd;
}

.q4, .q4:hover {
    color: #a335ee;
}