.card img {
    width: 32px;
    height: 32px;
    border: 2px solid grey;
    border-radius: 15%;
    margin: 8px;
}

.gold {
    color: #ddb100;
}

.silver {
    color: #e6e6e6;
}

.copper {
    color: #c8602c;
}

a {
    text-decoration: none !important;
}